@import '../../styles/variables.scss';
//@import '@styles/variables.scss';

.order-phone {
  &__number {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #d32626;
    border-radius: 30px;
    padding: 6px 16px;
    color: #2f2f2f;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      color: #fff;
      background-color: #d32626;
    }

    @media (min-width: $breakpoint_md) {
      font-size: 18px;
      font-weight: 700;
      padding: 15px 30px;
    }
  }
}
