@import '../../styles/variables.scss';
//@import '~styles/variables.scss';

.social-link {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    border: 1px solid #2f2f2f;
    border-radius: 50%;

    &-image {
      transition: 0.3s;
    }

    &:hover {
      .social-link__item-image {
        transform: scale(1.25);
      }
    }
  }
}
