@import '../../styles/variables.scss';
//@import '~styles/variables.scss';

.social-link {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    border: 1px solid #2f2f2f;
    border-radius: 50%;

    &-image {
      transition: 0.3s;
      fill: #2f2f2f;
      color: #2f2f2f;
      width: 20px;
      height: 20px;
    }

    &:hover {
      .social-link__item-image {
        transform: scale(1.25);
      }
    }
  }

  &--red {
    .social-link__item {
      border: 1px solid #d32626;
      width: 53px;
      height: 53px;

      &-image {
        fill: #d32626;
        color: #d32626;
      }
    }
  }
  &--small-red {
    .social-link__item {
      border: 1px solid #d32626;
      width: 40px;
      height: 40px;

      &-image {
        fill: #d32626;
        color: #d32626;
      }
    }
  }
}
