@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
.footer {
  &-desktop {
    --logoWidth: 195px;
    background-color: #f8f8f8;

    &__inner {
      padding: 50px 60px 26px 456px;
    }

    &__wrp {
      display: flex;
      margin-bottom: 37px;
      column-gap: 15px;
      @media (min-width: $breakpoint_lg) {
        column-gap: 0;
      }
    }

    &__logo {
      width: var(--logoWidth);
    }

    &__column {
      display: flex;
      width: calc((100% - var(--logoWidth)) / 2);

      &:first-child {
        width: 40%;
      }

      &:last-child {
        width: 60%;
      }
    }

    &__menu {
      &-links {
        column-gap: 28px;
        width: 150px;
        margin-right: 28px;

        &-title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 21px;
        }

        &-item {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
          &-link {
            text-decoration: none;
            color: $black-main;
            transition: 0.3s;
            &:active {
              color: $red-main;
            }
            @include hover {
              color: $red-main;
            }
          }
          &:last-child {
            margin-bottom: 31px;
          }
        }

        &-social-link {
          gap: 14px 15px;
        }
      }

      &-info {
        width: 290px;

        &-title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 23px;
        }

        &-phone-order {
          margin-bottom: 30px;
        }

        &-time-clock {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 22px;
        }

        &-order-adress {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 10px;
          &:nth-child(5) {
            margin-bottom: 37px;
          }
        }
        &-payment {
          &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 23px;
          }
          &-logos {
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            row-gap: 10px;
            &-item {
              width: 48px;
              height: 31px;
              box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }

    &__app {
      display: flex;

      &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      &-text {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      &-wrp {
        width: 50%;
      }

      &-download {
        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 198px;
          border: 1px solid $red-main;
          background-color: $red-main;
          border-radius: 30px;
          font-size: 11px;
          font-weight: 400;
          padding: 11px 25px 11px 25px;
          max-width: 200px;
          text-decoration: none;
          color: #fff;
          transition: 0.3s;
          margin-bottom: 9px;
          @media (min-width: $breakpoint_lg) {
            font-size: 15px;
            min-width: 241px;
          }

          @include hover {
            color: $black-main;
            background-color: #fff;
            border: 1px solid $black-main;
            border-radius: 20px;
            .footer__app-download-btn-image {
              fill: $red-main;
            }
          }

          &-image {
            width: 20px;
            height: 20px;
            fill: white;
          }

          &-text {
            padding-left: 10px;
          }
        }
      }

      &-image {
        width: 100%;
      }
    }

    &__text {
      display: flex;
      flex-wrap: wrap;
      column-gap: 23px;
      row-gap: 30px;
      font-size: 12px;
      font-weight: 400;
      color: $black-main;
      &-requisites {
        width: 100%;
        color: $black-main;
      }
      &-link-item {
        text-decoration: none;
        transition: 0.3s;
        color: $black-main;
        &:active {
          color: $red-main;
        }
        @include hover {
          color: $red-main;
        }
      }
    }
  }
}
