@import '../../styles/variables.scss';
//@import '~styles/variables.scss';

.footer {
  background-color: #f8f8f8;
  margin-top: 40px;

  &__inner {
    padding: 20px;
  }
  &__menu {
    display: flex;
    column-gap: 16px;

    &-company {
      width: 30%;
      margin-bottom: 20px;

      &-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 12px;
        line-height: 130%;
      }

      &-item {
        color: #2f2f2f;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 11px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-order {
      width: 70%;

      &-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 23px;
      }

      &-phone {
        &-number {
          font-size: 18px;
          font-weight: 500;
          border: 1px solid #d32626;
          border-radius: 30px;
          padding: 15px 25px;
          color: #2f2f2f;
          text-decoration: none;
          transition: 0.3s;
          margin-bottom: 20px;

          &:hover {
            transition: 0.3s;
            color: #fff;
            background-color: #d32626;
          }
        }
      }

      &-time-clock {
        color: #010101;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 130%;
      }

      &-adress {
        color: #2f2f2f;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__phone-order {
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    &-logo {
      width: 30%;
      &-image {
        width: 100px;
        height: 68px;
      }
    }

    &-social {
      display: flex;
      width: 70%;
      column-gap: 18px;
    }
  }
  &__app {
    &-download {
      display: flex;
      justify-content: center;
      column-gap: 15px;

      margin-bottom: 20px;

      &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 160px;
        border: 1px solid #d32626;
        background-color: #d32626;
        border-radius: 20px;
        font-size: 10px;
        font-weight: 400;
        padding: 7px 20px 7px 20px;
        text-decoration: none;
        color: #fff;
        transition: 0.3s;

        &:hover {
          color: #2f2f2f;
          background-color: #fff;
          border: 1px solid #2f2f2f;
          border-radius: 20px;
          .footer__app-download-btn-image {
            fill: #d32626;
          }
        }

        &-image {
          width: 13px;
          height: 13px;
          fill: white;
        }

        &-text {
          padding-left: 7px;
        }
      }
    }

    &-title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    &-text {
      font-size: 14;
      font-weight: 400;
      margin-bottom: 25px;
    }
  }

  &__payment {
    margin-bottom: 20px;
    &-title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    &-logos {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;
      &-item {
        width: 48px;
        height: 31px;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__text {
    &-requisites {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &-copyright {
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    &-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      column-gap: 10px;
      row-gap: 10px;
      &-item {
        font-size: 10px;
        font-weight: 400;
        color: #2f2f2f;
        text-decoration: none;
      }
    }
  }

  &-desktop {
    &__inner {
      display: flex;
      margin: 50px 60px 26px 426px;
    }

    &__logo {
      margin-right: 54px;
    }

    &__menu {
      display: flex;

      column-gap: 28px;
      &-company {
        width: 150px;

        &-title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 21px;
        }

        &-item {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
          &-link {
            text-decoration: none;
            color: #2f2f2f;
            transition: 0.3s;
            &:active {
              color: #d32626;
            }
            &:hover {
              color: #d32626;
            }
          }
          &:last-child {
            margin-bottom: 31px;
          }
        }

        &-social-link {
          display: flex;
          flex-wrap: wrap;
          column-gap: 14px;
          row-gap: 15px;
          width: 120px;
        }
      }

      &-order {
        width: 300px;

        &-title {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 23px;
        }

        &-phone-order {
          margin-bottom: 30px;
        }

        &-time-clock {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 22px;
        }

        &-order-adress {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 10px;
          &:nth-child(5) {
            margin-bottom: 37px;
          }
        }
        &-payment {
          &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 23px;
          }
          &-logos {
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            row-gap: 10px;
            &-item {
              width: 48px;
              height: 31px;
              box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }

    &__app {
      display: flex;

      &-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      &-text {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      &-wrp {
        width: 50%;
      }

      &-download {
        &-btn {
          display: flex;
          justify-content: center;
          align-items: center;

          border: 1px solid #d32626;
          background-color: #d32626;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 400;
          padding: 11px 25px 11px 25px;
          max-width: 250px;
          text-decoration: none;
          color: #fff;
          transition: 0.3s;
          margin-bottom: 9px;

          &:hover {
            color: #2f2f2f;
            background-color: #fff;
            border: 1px solid #2f2f2f;
            border-radius: 20px;
            .footer__app-download-btn-image {
              fill: #d32626;
            }
          }

          &-image {
            width: 20px;
            height: 20px;
            fill: white;
          }

          &-text {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
